.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 7rem;
}

.headerContainer {
  height: 5rem;
  border-bottom: 1px solid #29292E;

}

.linkStyle {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
  &:hover {
    filter: brightness(0.8);
  }
  transition: filter 0.2s;
}

.button{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  &:hover {
    filter: brightness(0.8);
  }
  transition: filter 0.2s;
  label {
    color:#FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
}